id_app = "yourDiscordIDApp" 
id_channel = 12345678910 # ID Channel to store user's feedback. It's completely optional, u can skip it if not using /report_bug command.
server_credential = 12345678910 # Your server ID

public_key = "a1b2c3d4e5f6g7" # Public key obtained from Discord Developer Portal at general information along with ID app.

discord_token = "a1b2c3d4e5f6g7" # Client secret. Obtained from OAuth2 in Discord Developer Portal
llm_credential = "a1b2c3d4e5f6g7" # LLM secret goes here
