.env
.env.*
prompt.txt
__pycache__/*
.vscode/
asset/image/
/src/components/__pycache__/
/src/handler/__pycache__/
/src/service/__pycache__/
/src/utils/__pycache__/
/asset/*
TODO.md
COMMAND.md
ROADMAP.md
requirement.txt